* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.welcome-cont {
  background: #024747;
}

@media (min-width: 800px) {
  .welcome-cont {
    background: linear-gradient(125deg, #f5d000, #ff8033);
  }
  .contact {
    background: transparent;
  }
  .contact__submit-button {
    border: solid;
    border-color: black;
    border-width: 1px;
  }
}

@media (hover: hover){
  .contact__submit-button:hover{
    border: solid 4px #2c2c2c;
  }
}
