* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.welcome-cont {
  background-image: url("../images/couple.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  min-height: 616px;
  display: flex;
  flex-flow: column;
}

.welcome {
  padding: 20px;
  margin: auto;
}

.welcome__hi {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: white;
  text-align: center;
}
.welcome__name {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: white;
  text-align: center;
}

.us {
  background-color: #024747;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 31px;
}
.us__title {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.us__text {
  display: block;
  font-size: 16px;
  max-width: 1000px;
  text-align: center;
}

.services {
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 70px 57px;
}
.services__title {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 80px;
}

.services__offer {
  display: flex;
  flex-flow: column;
}

.services__offer__service {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.services__offer__service__img {
  max-height: 200px;
  border-radius: 10px;
}
.services__offer__service__title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.services__offer__service__text {
  text-align: center;
  margin-bottom: 100px;
}

@media (min-width: 1200px) {
  .services__offer {
    flex-flow: row;
    gap: 77px;
  }
}
